* {
    margin: 0;
    padding: 0;
}
.min-width
{
    min-width: 1200px;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 98px;
    line-height: 98px;
    background-color: #0c1015;
    font-family: 'Hind,sans-serif';
    z-index: 100;
}

.img-container,
.header > .menu > ul > li,
.middle-left,
.about-left {
    float: left;
}

.img-container {

    width: 80px;
    margin-left: 9%;
}

.img-container > img {
    width: 100%;
}

.header > .menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header > .menu > ul > li {
    list-style: none;
    margin-left: 12px;
    margin-right: 12px;
}

.menu > ul > li > a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.line {
    margin-top: 98px;
    width: 100%;
    height: 1px;
    border-top: 1px;
}

.middle {
    width: 100%;
    background-color: rgb(170, 173, 178);
    padding: 12px;
    padding-bottom: 24px;
}

.middle-left {
    width: 434px;
    color: #ffffff;
    margin-left: 9%;
    padding-top: 124px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
}

.middle-left > .name {
    margin: 0;
    padding: 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
}

.middle-left > .professional {
    font-size: 25px;
    margin: 0;
}

.right-margin {
    float: right;
    margin-right: 9%;
}

.middle-right {
    position: relative;
    margin-top: 16px;
    width: 520px;
    border: 1px solid #000000;
}

.middle-right > img {
    width: 100%;
}

.img-index {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.img-index > span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    line-height: 16px;
    font-size: 12px;
    margin: 10px;
    cursor: pointer;
}
#home .img-index-clolr{
    background-color: #b2e2fa;
    color: #ffffff;
}

#about {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
}

.title {
    margin-left: 10%;
}

.title > h3 {
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    margin: 0 0 -3px 0;
}

.about-left > span,
#experience > .title > span {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
}

.about-me > p {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
}

#about .skill .am-progress {
    margin-bottom: 1rem;
}

#experience {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fafafa;
}

.company-content,
.company {
    width: 251px;
    height: 233px;
}

.company-content {
    float: left;
    background-color: #ffffff;
}

.company-content:nth-child(2) {
    background-color: #17bed2;
    color: #ffffff;
}
.company-content:nth-child(2) h4,
.company-content:nth-child(2) p{
    color: #ffffff;
}
.company{
    padding: 30px;
}
.company > img {
    width: 42px;
}
.company h4{
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    margin: 10px 0 15px 0;
    font-size: 17px;
}
.company >p{
    font-size: 12px;
    font-weight: 400;
    color: #a6a7aa;
}